﻿@model DVDLibrary.Models.Movie
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this DVD from the collection?</h3>
<div>
    <h4>Movie</h4>
    
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Release Date
            </th>
            <th>
                Director
            </th>
            <th>
                MPAA Rating
            </th>
            <th></th>
        </tr>
            <tr>
                <td>
                    @Html.DisplayFor(item => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(item => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(item => item.MPAARating)
                </td>
               
            </tr>
    </table>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "ViewAll", "MovieManager")
            </div>
        }
</div>
