﻿@model DVDLibrary.Models.Movie

@{
    ViewBag.Title = "Movie Details";
}


<h2>Movie Details</h2>

<table>
    <tr>
        <td><strong>Movie Title</strong></td>
        <td>@Html.DisplayFor(x => x.Title)</td>
    </tr>
    <tr>
        <td><strong>Year Released</strong></td>
        <td>@Html.DisplayFor(x => x.ReleaseDate)</td>
    </tr>
    <tr>
        <td><strong>Director</strong></td>
        <td>@Html.DisplayFor(x => x.Director)</td>
    </tr>
    <tr>
        <td><strong>MPAA Rating</strong></td>
        <td>@Html.DisplayFor(x => x.MPAARating)</td>
    </tr>
    <tr>
        <td><strong>Studio</strong></td>
        <td>@Html.DisplayFor(x => x.Studio)</td>
    </tr>
    <tr>
        <td><strong>User Rating</strong></td>
        <td>@Html.DisplayFor(x => x.UserRating) Stars</td>
    </tr>
    <tr>
        <td><strong>User Notes</strong></td>
        <td>@Html.DisplayFor(x => x.UserNotes)</td>
    </tr>
</table>
<br />
<div id="actorsGoHere">
    @if (Model.ActorsInMovie.Count != 0)
    {
        <table>
            <tr>
                <td colspan="2"><strong>Starring:</strong></td>
            </tr>
        @foreach (var a in Model.ActorsInMovie)

        {
            <tr>
                <td>@a.ActorFirstName</td>
                <td>@a.ActorLastName</td>
            </tr>
        }
        </table>
    }
    @*@using (Ajax.BeginForm("PolicyList", new AjaxOptions { UpdateTargetId = "policyList", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }))
    {
        @Html.DropDownList("category", Model.Categories, "Choose a category")
        @Html.Hidden("tableDetail", "Delete")
        <input type="submit" value="Select" />
    }*@

    <br /><h4>Add an actor to the movie</h4>
    @using (Html.BeginForm("AddActor", "MovieManager", FormMethod.Post))
    {
        <p>First name: 
        @Html.TextBox("FirstName")       
                 Last Name:
        @Html.TextBox("LastName")</p>
        @Html.HiddenFor(x => x.MovieID)
        <br />
        <input type="submit" value="Add New" />
    }
</div>

<p>
    @Html.ActionLink("Back to List", "ViewAll", "MovieManager")
</p>
