﻿@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-sm-6 margin-top text-center col-sm-offset-3" style="margin-top: 15px;">
        <a href="@Url.Action("ViewAll", "MovieManager")" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px;">
            <span class="glyphicon glyphicon-th-list" style="margin-right: 10px;">
            </span>View Library
        </a>
        <a href="@Url.Action("Create", "MovieManager")" class="btn btn-primary btn-lg btn-block" style="margin-top: 20px;">
            <span class="glyphicon glyphicon-plus" style="margin-right: 10px;">
            </span>Add to Library
        </a>
    </div>
</div>
<div class="row center-div">
    <div class="col-sm-6 text-center col-sm-offset-4">
        <div class="input-group margin-top">
            @using (Html.BeginForm("Index", "MovieManager", FormMethod.Post, new { @class = "form-group text-center" }))
            {
                <div>
                    <div class="input-group-btn" style="padding-top: 15px;">
                        <h4><label for="search" class="">Search By Title:</label></h4>
                        @using (Html.BeginForm("Index", "MovieManager", FormMethod.Get))
                        {
                            @Html.TextBox("searchString")
                            <input type="submit" value="search"> 
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>