﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12 center_div">
        <img src="~/Content/images/Homer_D'OH!.png" width="175" class="img-responsive center-block" style="margin-top: 20px;">
        <h1 class="text-danger">D'OH!!</h1>
        <h2 class="text-danger">An error occurred while processing your request.</h2>
    </div>
</div>



